.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-card {
    width: 200px; /* Adjust card width as needed */
    height: 200px; /* Adjust card height as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  