<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container">
    <button mat-raised-button (click)="openForm()">Add Data</button>
</div>

<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search your Data here.." #input>
        </mat-form-field>

        <mat-form-field class="custom-width">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [max]="maxDate" [min]="minDate" (keydown)="onDate($event)"
                [rangePicker]="picker">
                <input matInput matStartDate formControlName="start" placeholder="Start date" required>
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>

            <mat-error *ngIf="errorTriggered && range.invalid">
                Please enter range of date.
            </mat-error>
            <mat-error *ngIf="getAccess('start')?.hasError('required') && (getAccess('start')?.touched || getAccess('start')?.dirty) && !errorTriggered">
                Please enter start date.
            </mat-error>
            <mat-error *ngIf="getAccess('start')?.hasError('invalidDate') && getAccess('start')?.dirty && !errorTriggered">
                Date must not be after today.
            </mat-error>
            <mat-error *ngIf="getAccess('end')?.hasError('required') && (getAccess('end')?.touched || getAccess('end')?.dirty) && !errorTriggered">
                Please enter end date.
            </mat-error>
            <mat-error *ngIf="getAccess('end')?.hasError('invalidDate') && getAccess('end')?.dirty && !errorTriggered">
                Date must not be after today.
            </mat-error>
            

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
        

        <button class="filter" mat-raised-button (click)="triggerValidation(); resetError(); applySearch()">Filter</button>
        <button class="filter" mat-raised-button (click)="removeFilter()">Remove Filter</button>


        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort
                (matSortChange)="announceSortChange($event, dataSource.data )">

                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> srNo </th>
                    <td mat-cell *matCellDef="let row"> {{row.data.srNo}} </td>
                </ng-container>


                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-form-field style="height: 65px; width: 90px" appearance="outline">
                                <input matInput type="text" [(ngModel)]="editingRowData.firstName" name="firstName"
                                    #firstNameInput="ngModel" (keypress)="onKey($event)" required minlength="2"
                                    maxlength="30">
                                <mat-error
                                    *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">
                                    <span *ngIf="firstNameInput.errors?.['required']">
                                        First Name is required.
                                    </span>

                                </mat-error>

                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.firstName }}
                        </ng-container>
                    </td>
                </ng-container>



                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-form-field style="height: 65px; width: 110px" appearance="outline">
                                <input matInput type="text" [(ngModel)]="editingRowData.lastName"
                                    (keypress)="onKey($event)" #lastNameInput="ngModel" required>
                                <mat-error
                                    *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">
                                    <span *ngIf="lastNameInput.errors?.['required']">
                                        Last Name is required.
                                    </span>

                                </mat-error>

                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.lastName }}
                        </ng-container>
                    </td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-form-field style="height: 65px; width: 130px" appearance="outline">
                                <input matInput type="email" [(ngModel)]="editingRowData.email" #emailInput="ngModel"
                                    required email>
                                <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                    <span *ngIf="emailInput.errors?.['required']">
                                        Email is required.
                                    </span>
                                    <span *ngIf="emailInput.errors?.['email']">
                                        Please enter valid Email.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.email }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-form-field style="height: 65px; width: 130px" appearance="outline">
                                <input matInput type="text" [(ngModel)]="editingRowData.phone" maxlength="17"
                                    minlength="17" appNumericInput (keydown)="onKeyPress($event)" #phoneInput="ngModel"
                                    required>
                                <mat-error *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)">
                                    <span *ngIf="phoneInput.errors?.['required']">
                                        Phone Number is required.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.phone }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-radio-group [(ngModel)]="editingRowData.gender" appearance="outline">
                                <mat-radio-button class="redioBtn" value="male">Male</mat-radio-button>
                                <mat-radio-button class="redioBtn" value="female">Female</mat-radio-button>
                            </mat-radio-group>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.gender }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="language">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-select multiple [(ngModel)]="arrayLang" (selectionChange)="onSelectionChange($event)"
                                class="select-box" style="width: 140px;" #langInput="ngModel" required>
                                <mat-option *ngFor="let language of languageList" [value]="language">{{ language
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="langInput.invalid && (langInput.dirty || langInput.touched)">
                                <span *ngIf="langInput.errors?.['required']">
                                    Language is required.
                                </span>
                            </mat-error>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.language }}
                        </ng-container>
                    </td>
                </ng-container>


                <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dob </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                                [(ngModel)]="editingRowData.dob" (keydown)="onDate($event)" style="width: 110px;"
                                placeholder="MM/DD/YYYY">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.dob.toDate() | date }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="salary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <mat-form-field style="height: 65px; width: 100px" appearance="outline">
                                <input matInput currencyMask type="text" [(ngModel)]="editingRowData.salary"
                                    appNumericInput #salaryInput="ngModel" required>
                                <mat-error *ngIf="salaryInput.invalid && (salaryInput.dirty || salaryInput.touched)">
                                    <span *ngIf="salaryInput.errors?.['required']">
                                        Salary is required.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            {{ row.data.salary | currency : 'INR' }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="profile">
                    <th mat-header-cell *matHeaderCellDef> Profile </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="editingRowId === row.id">
                            <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                                style="width: 90px;">
                                <p>Drag & drop an image</p>
                                <img [src]="imageUrl" height="100px" width="150px">
                                <div class="image-input-container">
                                    <input type="file" class="editImgSelect" (change)="onFileSelected($event)"
                                        accept="image/*">
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="editingRowId !== row.id">
                            <img src="{{row.data.profile}}" width="150px" height="100px">
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="row.id === editingRowId; else readOnly">
                            <a (click)="afterEdit()"><i class="fa fa-solid fa-check" style="color: #04ff00;"></i></a>
                        </ng-container>
                        <ng-template #readOnly>
                            <a (click)="onEdit(row.id)"><i class="fa fa-solid fa-file" style="color: #0058f0;"></i></a>
                        </ng-template>
                        <a (click)="deleteData(row.data.profile, row.id)"><i class="fa fa-solid fa-trash"
                                style="color: #fa0000;"></i></a>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
                showFirstLastButtons></mat-paginator>
        </div>

    </mat-card-content>

</mat-card>


<!-- pop-up form -->
<ng-template #employeeData>

    <div class="overlay"></div>

    <div class="formBox">

        <mat-card class="card">

            <mat-card-content>

                <h2 class="text-center tc">Employee-Data</h2>

                <form class="form-content" [formGroup]="employeeForm" (submit)="onSubmit()">
                    <div class="box">

                        <mat-form-field class="mg" appearance="outline">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" formControlName="firstName" (keypress)="onKey($event)">
                            <mat-error>First name is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>LastName</mat-label>
                            <input matInput type="text" formControlName="lastName" (keypress)="onKey($event)">
                            <mat-error>Last name is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="box">
                        <mat-form-field class="mg" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="example@gmail.com">
                            <mat-error
                                *ngIf="getControl('email')?.hasError('required') && (getControl('email')?.touched || getControl('email')?.dirty)">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="getControl('email')?.hasError('email') && getControl('email')?.dirty">
                                Please enter a valid Email.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput type="text" formControlName="phone" minlength="17" maxlength="17"
                                (keydown)="onKeyPress($event)" placeholder="(+91) 00000 00000">
                            <mat-error>Phone Number is required</mat-error>

                        </mat-form-field>

                    </div>

                    <section class="example-section">
                        <label class="example-margin">Gender:</label>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                            <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <div class="box">
                        <mat-form-field class="mg" appearance="outline">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="language" value="lang" multiple
                                (selectionChange)="onSelectionChange($event)">
                                <mat-option *ngFor="let language of languageList" [value]="language">{{ language
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!selectedLanguages.length">select at least one language</mat-error>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="datepicker" formControlName="dob" maxlength="10"
                                (keydown)="onDate($event)" [max]="maxDate" [min]="minDate" placeholder="MM/DD/YYYY">

                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                            <mat-error
                                *ngIf="getControl('dob')?.hasError('required') && (getControl('dob')?.touched || getControl('dob')?.dirty)">
                                Please enter date.
                            </mat-error>
                            <mat-error *ngIf="getControl('dob')?.hasError('invalidDate') && getControl('dob')?.dirty">
                                Date must not be after today.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Salary</mat-label>
                        <input currencyMask matInput type="text" formControlName="salary" appNumericInput>
                        <mat-error>Please enter salary amount</mat-error>
                    </mat-form-field>

                    <div class="cardImage">
                        <div class="card-content">
                            <h3>Upload Employee Image</h3>
                            <div *ngIf="imageUrl" class="image-container" (drop)="onDrop($event)"
                                (dragover)="onDragOver($event)">
                                <label for="fileInput" class="image-card">
                                    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*"
                                        formControlName="profile" />
                                    <img [src]="imageUrl" alt="Employee Image">
                                </label>
                            </div>

                            <div class="drop-zone">
                                <p>Drag & drop an image file here</p>
                            </div>
                        </div>
                    </div>

                    <button mat-raised-button class="btn" [disabled]="employeeForm.invalid">Submit</button>
                    <button mat-raised-button class="btn" (click)="closeForm()">Back</button>
                </form>

            </mat-card-content>

        </mat-card>

    </div>

</ng-template>



<ng-container *ngIf="formVisible">
    <ng-container *ngTemplateOutlet="employeeData"></ng-container>
</ng-container>