<div class="container">
    <button mat-raised-button (click)="openForm()">Add Data</button>
</div>

<mat-card>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>


    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> srNo </th>
                <td mat-cell *matCellDef="let row"> {{row.data.srNo}} </td>
            </ng-container>


            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> FirstName </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input type="text" class="underline-input" [(ngModel)]="editingRowData.firstName"
                            style="width: 80px;">
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.firstName }}
                    </ng-container>
                </td>
            </ng-container>



            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> LastName </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input type="text" class="underline-input" [(ngModel)]="editingRowData.lastName"
                            style="width: 100px;">
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.lastName }}
                    </ng-container>
                </td>
            </ng-container>


            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input type="email" class="underline-input" [(ngModel)]="editingRowData.email" style="width: 130px;">
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.email }}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input type="number" class="underline-input" [(ngModel)]="editingRowData.phone" style="width: 110px;">
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.phone }}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <mat-radio-group [(ngModel)]="editingRowData.gender">
                            <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                            <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.gender }}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef> Language </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <mat-select [(ngModel)]="editingRowData.language" multiple
                            (selectionChange)="onSelectionChange($event)" class="select-box" style="width: 150px;" 
                            [(ngModel)]="row.data.language">
                            <mat-option *ngFor="let language of languageList" [value]="language">{{ language
                                }}</mat-option>
                        </mat-select>
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.language }}
                    </ng-container>
                </td>
            </ng-container>


            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef> Dob </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input [formControl]="dateFormCtrl" matInput [matDatepicker]="picker" 
                        [max]="maxDate" [min]="minDate" [(ngModel)]="editingRowData.dob" 
                        placeholder="Enter your BirthDay.." readonly> 
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.dob.toDate() | date }}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef> Salary </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <input currencyMask  type="text" class="underline-input" [(ngModel)]="editingRowData.salary">
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        {{ row.data.salary | currency : 'INR' }}
                    </ng-container>  
                </td>
            </ng-container>

            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef> Profile </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="editingRowId === row.id">
                        <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                            style="width: 200px;">
                            <p>Drag & drop an image file here</p>
                            <img [src]="imageUrl" height="120px" width="180px">
                            <div class="image-input-container">
                                <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="editingRowId !== row.id">
                        <img src="{{row.data.profile}}" width="180px" height="130px">
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">

                    <a (click)="onEdit(row.id)" *ngIf="changeSymbol"><i class="fa fa-solid fa-file"
                            style="color: #0058f0;"></i></a>

                    <a *ngIf="!changeSymbol" (click)="afterEdit()"><i class="fa fa-solid fa-check"
                            style="color: #04ff00;"></i></a>

                    <a (click)="deleteData(row.data.profile, row.id)"><i class="fa fa-solid fa-trash"
                            style="color: #fa0000;"></i></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>
    </div>

</mat-card>


<!-- pop-up form -->
<ng-template #employeeData>

    <div class="overlay"></div>

    <div class="formBox">

        <mat-card class="card">

            <mat-card-content>

                <h2 class="text-center tc">Employee-Data</h2>

                <form class="form-content" [formGroup]="employeeForm" (submit)="onSubmit()">
                    <div class="box">

                        <mat-form-field class="mg">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" formControlName="firstName">
                            <mat-error>First name is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>LastName</mat-label>
                            <input matInput type="text" formControlName="lastName">
                            <mat-error>Last name is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="box">
                        <mat-form-field class="mg">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                            <mat-error
                                *ngIf="getControl('email')?.hasError('required') && (getControl('email')?.touched || getControl('email')?.dirty)">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="getControl('email')?.hasError('email') && getControl('email')?.dirty">
                                Please enter a valid Email.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Phone</mat-label>
                            <input matInput type="number" formControlName="phone">
                            <mat-error>Phone Number is required</mat-error>
                        </mat-form-field>
                    </div>

                    <section class="example-section">
                        <label class="example-margin">Gender:</label>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                            <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <div class="box">
                        <mat-form-field class="mg">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="language" value="lang" multiple
                                (selectionChange)="onSelectionChange($event)">
                                <mat-option *ngFor="let language of languageList" [value]="language">{{ language
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!selectedLanguages.length">Please select at least one language</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="datepicker" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                            <mat-error>Please enter date.</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-label>Salary</mat-label>
                        <input currencyMask matInput type="text" formControlName="salary" >
                        <mat-error>Please enter salary amount</mat-error>
                    </mat-form-field>

                    <div class="card">
                        <div class="card-content">
                            <h3>Upload Employee Image</h3>
                            <div *ngIf="imageUrl" class="image-container">
                                <div class="image-card" (click)="openImageInCard($event)">
                                    <img [src]="imageUrl" alt="Selected Image">
                                </div>
                            </div>

                            <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                                <p>Drag & drop an image file here</p>
                                <div class="image-input-container">
                                    <input type="file" (change)="onFileSelected($event)" accept="image/*"
                                        formControlName="profile" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <button mat-raised-button>Submit</button>
                    <button mat-raised-button class="btn" (click)="closeForm()">Back</button>
                </form>

            </mat-card-content>

        </mat-card>

    </div>

</ng-template>



<ng-container *ngIf="formVisible">
    <ng-container *ngTemplateOutlet="employeeData"></ng-container>
</ng-container>