<div class="container">
    <button mat-raised-button (click)="openForm()">Add Data</button>
</div>

<div>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search here for table content">
    </mat-form-field>
</div>



<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <!-- <td mat-cell *matCellDef="let row">  </td> -->
        </ng-container>


        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
            <!-- <td mat-cell *matCellDef="let row"> Jay </td> -->
        </ng-container>


        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
            <!-- <td mat-cell *matCellDef="let row"> Borad </td> -->
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <!-- <td mat-cell *matCellDef="let row"> jay@gmail.com </td> -->
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <!-- <td mat-cell *matCellDef="let row"> 7600680988 </td> -->
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <!-- <td mat-cell *matCellDef="let row"> male </td> -->
        </ng-container>

        <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
            <!-- <td mat-cell *matCellDef="let row"> hindi,english </td> -->
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dob </th>
            <!-- <td mat-cell *matCellDef="let row"> 8 Dec, 2002 </td> -->
        </ng-container>

        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
            <!-- <td mat-cell *matCellDef="let row"> 100000 </td> -->
        </ng-container>

        <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile </th>
            <!-- <td mat-cell *matCellDef="let row"> img </td> -->
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <!-- <td mat-cell *matCellDef="let row"> img </td> -->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>

        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>


<!-- pop-up form -->

<!-- pop-up form -->
<ng-template #employeeData>

    <div class="overlay"></div>

    <div class="formBox">

        <mat-card class="card">

            <mat-card-content>

                <h2 class="text-center tc">Employee-Data</h2>

                <form class="form-content" [formGroup]="employeeForm">
                    <div class="box">

                        <mat-form-field class="mg">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" formControlName="firstName">
                            <mat-error>First name is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>LastName</mat-label>
                            <input matInput type="text" formControlName="lastName">
                            <mat-error>Last name is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="box">
                        <mat-form-field class="mg">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                            <mat-error *ngIf="getControl('email')?.hasError('required') && (getControl('email')?.touched || getControl('email')?.dirty)">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="getControl('email')?.hasError('email') && getControl('email')?.dirty">
                                Please enter a valid Email.
                            </mat-error>
                            
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Phone</mat-label>
                            <input matInput type="number" formControlName="phone">
                            <mat-error>Phone Number is required</mat-error>
                        </mat-form-field>
                    </div>

                    <section class="example-section">
                        <label class="example-margin">Gender:</label>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                            <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </section>

                    <div class="box">
                        <mat-form-field class="mg">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="language" multiple>
                                <mat-select-trigger>
                                    {{ employeeForm.value?.[0] || '' }}
                                    <span class="example-additional-selection"
                                        *ngIf="employeeForm.value && employeeForm.value.length > 1">
                                        (+{{ employeeForm.value.length - 1 }} {{ employeeForm.value.length === 2 ?
                                        'other' : 'others' }})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping
                                }}</mat-option>
                            </mat-select>
                            <mat-error>Please select Language</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="datepicker" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                            <mat-error>Please enter date.</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-label>Salary</mat-label>
                        <input matInput type="number" formControlName="salary">
                        <mat-error>Please enter salary amount</mat-error>
                    </mat-form-field>

                    <app-image-upload></app-image-upload>

                    <button mat-raised-button (click)="closeForm()">Submit</button>
                </form>

            </mat-card-content>

        </mat-card>

    </div>

</ng-template>



<ng-container *ngIf="formVisible">
    <ng-container *ngTemplateOutlet="employeeData"></ng-container>
</ng-container>